 body {
     background-color: dimgray;
     background-image: url('images/bg-intro-desktop.png');
     background-repeat: no-repeat;
 }

 form {
      width: 400px;
     padding: 30px;
     border: 1px solid #ccc
 } 